RewriteEngine On

RewriteRule ^login/?$ pages/login.php [L]
RewriteRule ^registro/?$ pages/registro.php [L]

Options -Indexes

ErrorDocument 404 /sistema-codigo-azul/includes/404.php
ErrorDocument 403 /sistema-codigo-azul/includes/404.php
