RewriteEngine On

RewriteRule ^ingreso/?$ views/login.php [L]
RewriteRule ^registro/?$ views/register.php [L]
RewriteRule ^recuperar/?$ views/recoverPass.php [L]
RewriteRule ^exitoso/?$ views/passSuccess.php [L]
RewriteRule ^lite/?$ views/lite.php [L]
RewriteRule ^zonas/?$ views/zone.php [L]
RewriteRule ^cargar-zona/?$ views/newZone.php [L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

Options -Indexes

ErrorDocument 404 /sistema-codigo-azul/views/includes/404.php
ErrorDocument 403 /sistema-codigo-azul/views/includes/404.php