RewriteEngine On

RewriteRule ^login/?$ pages/login.html [L]
RewriteRule ^registro/?$ pages/registro.html [L]

Options -Indexes

ErrorDocument 404 /sistema-codigo-azul/includes/404.php
ErrorDocument 403 /sistema-codigo-azul/includes/404.php
