@import url('header.css');
@import url('footer.css');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.btn i[class*="icono-arg"] {
	margin-right: 8px;
}

.btn i[class*="icono-arg-lupa"] {
	color: #0072bb;
}