@import url('header.css');
@import url('footer.css');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.btn i[class*="icono-arg"] {
	margin-right: 8px;
}

.btn i[class*="icono-arg-lupa"] {
	color: #0072bb;
}

.main__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__content {
	margin-top: 200px;
}

.main__content h1 {
	font-size: 2em;
}

.main__content>a {
	width: 100%;
}

.room__container {
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	padding: 15px 0;
	margin: 30px 0;
	gap: 10px;
}